@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'BMJUA';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  @apply h-screen flex justify-center pt-10 bg-gradient-to-br to-white from-primary-100 text-default;
  font-family: 'BMJUA';
}
#root {
  @apply w-full max-w-4xl;
}